{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href= "{% static 'reg_form.css'%}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
</head>
<body>
    <h1>Реєстрація</h1>
    <form  method="post">
        {% csrf_token %} 
        <p style="color:red">{{error}}</p>
        <p><input type="text" placeholder="login" autocomplete="off" name="login" value= "{{login}}" required></p>
        <p><input type="password" placeholder="password" autocomplete="off" name="password" value = "{{password}}" required></p>
        <p><input type="password" placeholder="password confirm" autocomplete="off" name="password_confirm" value="{{password_confirm}}" required></p>
        <p><input type="submit" value="Реєстрація"></p>
    </form>

</body>
</html>