body {

    font-family: 'Cabin', sans-serif;
    background-image: linear-gradient(
        45deg,
        rgb(1, 216, 180),
        rgb(0, 179, 95) 70%
        );
}

input {

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid black;
    width: 300px;
    height: 50px;
    transition: 1s;
    text-align: center;
}

input:focus{
    border: 1px solid rgb(255, 255, 255);
    color: black;
    font-size: 20px;
    background-color: white;
    box-shadow: 0 0 15px rgb(253, 251, 231);
}

h1{
    
    color: white;

}

body{
    display: grid;
    place-items: center;
    border-radius: 10px;
    padding: 90px 0px;
}